@import '../../scss/variables';

.notfound_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    h2 {
        margin-top: 150px;
        font-size: 2rem;
        font-weight: 600;
        padding: 30px;
    }

    a {
        @include button;
        width: 384px;
        padding: 10.8px;
        font-size: 1.5rem;
    }
}